.et-db #et-boc .et-l .et-fb-modules-list .dp_simple_slider:before {
  content: "S";
}

.dp_simple_slider__prev:before {
  content: "<";
}

.dp_simple_slider__next:before {
  content: ">";
}

.swiper {
  width: 100%;
  height: 100%;
}
